header.header
    .container
        nav.nav
            a.logo(href="#")
                img.logo__img(src="static/images/logo.svg", alt="logo")
                | Find You  
            ul.menu
                li.menu__list.menu__list--dn
                    a.menu__link(href="#") Feature                               
                li.menu__list.menu__list--dn
                    a.menu__link(href="#") How it Work 
                li.menu__list.menu__list--dn
                    a.menu__link(href="#") Pricing
                li.menu__list.menu__list--dn
                    a.btn.nav__btn.btn--red(href="#") Get Start
            <button class="burger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 17h-12v-2h12v2zm0-4h-12v-2h12v2zm0-4h-12v-2h12v2z"/></svg>
            </button>
