section.account.container
    ul.account__list
        li.account__item
            .account__info
                h3.account__title Create Account
                p.account__text We all need to start well must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound.
                form.account-form(action="submit")
                    input.account-form__item(type="text" placeholder="Email Address")
                    button.account__btn.btn.btn--r-10.btn--green Get started
            img.account__img(src="images/account-img-1.png", alt="icon")
        li.account__item.account__item--reverse
            .account__info
                h3.account__title Invite Friend
                p.account__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.
                button.account__btn.btn.btn--r-10.btn--orange Get started
            img.account__img(src="images/account-img-2.png", alt="icon")