section.download
	.container.download__inner
		.download__column
			h2.download__title You can easily record video call
			p.download__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.
			.download__bottom.download-content
				h3.download-content__title Download App Now?
				ul.download-content__list
					li.download-content__item
						a.download-content__link(href="#")
							img.download-content__ico(src="images/google-download.svg", alt="")
					li.download-content__item
						a.download-content__link(href="#")
							img.download-content__ico(src="images/ios-download.svg", alt="")
		img.download__preview(src="images/app-preview.png", alt="")