section.features
    .container
        img.features__bg(src="images/features-bg.png", alt="")
        ul.features__list
            li.features__item
                img.features__ico(src="images/features-ico-message.png", alt="")
                h3.features__title Message System
                p.features__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.
            li.features__item
                img.features__ico(src="images/features-ico-call.png", alt="")
                h3.features__title  Voice Call
                p.features__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.
            li.features__item
                img.features__ico(src="images/features-ico-share.png", alt="")
                h3.features__title File Share 
                p.features__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.

                
               
                