section.intro
	.container
		.intro__inner
			h1.intro__title Be together, whenever.
			p.intro__text I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account.
			a.intro__btn.btn.btn--r-30(href="#") Try 30 Days Free
		img.intro__image(src="images/intro-image.png", alt="")
