section.pricing.container
    h2.pricing__title Pricing Plan
    p.pricing__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
    .pricing__inner
        .pricing-content
            img.pricing-content__bg(src="images/pricing-bg-img-1.png", alt="icon")
            img.pricing-content__img(src="images/pricing-img-1.png", alt="icon")
            h3.pricing-content__title $
                span 18.35
                | /month 
            ul.pricing-content__list
                li.pricing-content-item 30gb data storage
                li.pricing-content-item More than 500+ friend include
                li.pricing-content-item group chat avaiable
                li.pricing-content-item categories based friend list
            .pricing-content__links
                a.princing-content__btn.btn.btn--r-30.btn--green Sign Up!
                a.pricing-content__link.pricing-content__link--green Try 30 Days Free
        .pricing-content
            img.pricing-content__bg(src="images/pricing-bg-img-2.png", alt="icon")
            img.pricing-content__img(src="images/pricing-img-2.png", alt="icon")
            h3.pricing-content__title $
                span 72.90
                | /month
            ul.pricing-content__list
                li.pricing-content-item 80gb data storage
                li.pricing-content-item More than 1500+ friend include
                li.pricing-content-item Group chat avaiable
                li.pricing-content-item Categories based friend list
            .pricing-content__links
                a.princing-content__btn.btn.btn--r-30.btn--orange Sign Up!
                a.pricing-content__link.pricing-content__link--orange Try 30 Days Free







