section.subscribe.container
    .subscribe__inner
        h3.subscribe__title Subscribe Newsletter for Keep Updated
        p.subscribe__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I complete account of the system, and expound the actual teachings.
    button.subscribe__btn.btn.btn--r-30.btn--green Subscribe
