/// SIZES
$baseContainer: 1200px;
$baseFontSize: 16px;
$baseLineHeight: 24px;

/// BREAKPOINTS
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/// FONT-FAMILY
$baseFontFamily: "Montserrat", Arial, -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/// COLOR PALETTES
$white: #ffffff;
$black: #000000;
