footer.footer.container
    .footer-top
        a.footer__logo(href="")
            img.footer__ico(src="images/logo.png", alt="icon")
        .footer-links
            .footer-links__col
                h3.footer-links__title Quick Link
                ul.footer-links__list
                    li.footer-links__item
                        a.footer-limns__link Feature
                    li.footer-links__item
                        a.footer-links__link Terms & Condition
                    li.footer-links__item
                        a.footer-links__link User Feedback
                    li.footer-links__item
                        a.footer-links__link Online Payment
            .footer-links__col
                h3.footer-links__title How It Work?
                ul.footer-links__list
                    li.footer-links__item
                        a.footer-links__link Create Account
                    li.footer-links__item
                        a.footer-links__link Make Plan
                    li.footer-links__item
                        a.footer-links__link Select Date
                    li.footer-links__item
                        a.footer-links__link Online Payment
             
        ul.footer-social
            li.footer-links__item
                a.links-item__link(href="")
                    img.footer-links__img(src="images/fb-ico.svg", alt="ico")
            li.footer-links__item
                a.links-item__link(href="")
                    img.footer-links__img(src="images/tw-ico.svg", alt="ico")
            li.footer-links__item
                a.links-item__link(href="")
                    img.footer-links__img(src="images/inst-ico.svg", alt="ico")
            li.footer-links__item
                a.links-item__link(href="")
                    img.footer-links__img(src="images/in-ico.svg", alt="ico")


    .footer-bottom
        p.footer-bottom__text © Copyright Secure. All rights reserved.











