header.header
	nav.nav.container
		.nav__top
			a.logo(href="#")
				img.logo__ico(src="images/logo.png", alt="FIND")
			button.hamburger.hamburger--spin.header__burger(type='button')
				span.hamburger-box
					span.hamburger-inner

		.nav__bottom
			ul.menu
				li.menu__item
					a.menu__link(href="#") Feature
				li.menu__item
					a.menu__link(href="#") How it Work
				li.menu__item
					a.menu__link(href="#") Pricing
			a.btn.btn--r-30.btn--orange.header__btn(href="#") Get Start
