section.features
    .container
        ul.features__list
            li.features-item
                img.features-item__img(src="static/images/message.svg", alt="icon")
                h4.features-item__title Message System
                p.features-item__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.
            li.features-item
                img.features-item__img(src="static/images/voice-call.svg", alt="icon")
                h4.features-item__title Voice Call
                p.features-item__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.
            li.features-item
                img.features-item__img(src="static/images/file-share.svg", alt="icon")
                h4.features-item__title File Share 
                p.features-item__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born a complete account.