section.instruction
    .container
        ul.instruction__list
            li.instruction-item
                .instruction-item__info
                    h3.instruction-item__title
                    p.instruction-item__text
                    form.instruction-item__form(action="")
                        input(type="text")
                        a.btn.btn--green Get Started
                .instruction-item__img
            li.instruction-item
                .instruction-item__info
                    h3.instruction-item__title
                    p.instruction-item__text
                    a.btn.btn--red Get Started
                .instruction-item__img
