section.intro
    .container
        h2.intro__title Be together, whenever.
        p.intro__text I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account.
        a.intro__link.btn.intro__btn Try 30 Days Free
