/* ==============================
BUTTON STYLES
 ================================ */

.btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;

	outline: none;

	&:hover,
	&:focus {
	}
	&:active {
	}
}

.btn--red {
	background-color: #ef7f65;
	color: $white;
}