/* ==============================
PROJECT BODY STYLES
 ================================ */
body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: $baseFontFamily;
	line-height: $baseLineHeight;
	color: $black;
	font-weight: 400;
	background-color: #eef1fc;
}
.container {
	max-width: $baseContainer;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* ==============================
PROJECT CORE STYLES
 ================================ */
